{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{ with .Site.Params.email }}
         <h4>Drop me a line, maybe?</h4>
         <form id="contact" class="contact form" method="POST" data-netlify="true">
           <div class="controls">
             <div class="form-group">
               <label for="name">Your name *</label>
               <input type="text" name="name" id="name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="email">Your email *</label>
               <input type="email" name="email" id="email" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for = 'subject'> Subject *</label>
               <select>
                       <option value="job">Job</option>
                       <option value="family" selected="selected">Family</option>
                       <option value="hobby">Hobby</option>
                       <option value="other">Other</option>
                       </select>
                       </div>
            <div class="form-group">
               <label for="attachment">Attachment(smaller than 10Mb)</label>
               <input type="file" name="file" id="file" class="form-control">
             </div>
             <div class="form-group">
               <label for="message">Your message for me *</label>
               <textarea rows="4" name="message" id="message" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
